# **Patterns in Python**
with user input.

**1.**
```
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5
```

In [ ]:
a = int(input("Enter the Number - "))
print("---------------------")
for i in range(a,0,-1):
  print(' '.join(i * str(a)))
  i += 1

Enter the Number - 5
---------------------
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

**--------------------------------------------------------------------------------------------------------------------------------**

**2.**
```
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0
```

In [ ]:
a = int(input("Enter the Number - "))
print("---------------------")
for i in range(0,a+1):
  for j in range(0,a-i):
    print(j,end = " ")
  print()

Enter the Number - 6
---------------------
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

**--------------------------------------------------------------------------------------------------------------------------------**

**3.**
```
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9
```

In [ ]:
a = int(input("Enter the Number - "))
print("-------------------------")
for i in range(0,a+1):
  for j in range(i):
    print(i*2-1,end = " ")
  print()

Enter the Number - 5
-------------------------

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

**--------------------------------------------------------------------------------------------------------------------------------**

**4.**
```
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
```

In [ ]:
a = int(input("Enter the Number - "))
print("--------------------------")
for i in range(a+1):
  for j in range(i,0,-1):
    print(j,end = " ")
  print()

Enter the Number - 5
--------------------------

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

**------------------------------------------------------------------------------------------------------------------------------**

**5.**
```
1
3 2
6 5 4
10 9 8 7 
```

In [ ]:
start = 1
stop = 2
num = stop
for i in range(2,6):
  for j in range(start,stop):
    num -= 1
    print(num,end = " ")
  print()
  start = stop
  stop += i
  num = stop

1
3 2
6 5 4
10 9 8 7

**------------------------------------------------------------------------------------------------------------------------**

6.
```
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1
```

In [ ]:
def pascal_triangle(size):
  for i in range(0,size):
    for j in range(0, i + 1):
            print(decide_number(i, j), end=" ")
    print()


def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num

rows = int(input())
print(pascal_triangle(rows))

7
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1
None

**-----------------------------------------------------------------------------------------------------------------------**

8.
```
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5
```

In [ ]:
rows = int(input("Enter the Number - "))
print("----------------------------------------")
for i in range(1,rows+1):
  for j in range(1,rows+1):
    if j <= i:
      print(i,end = ' ')
    else:
      print(j,end = ' ')
  print()

Enter the Number - 6
----------------------------------------
1 2 3 4 5 6
2 2 3 4 5 6
3 3 3 4 5 6
4 4 4 4 5 6
5 5 5 5 5 6
6 6 6 6 6 6

**--------------------------------------------------------------------------------------------------------------------**

**9.**
```
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
```

In [ ]:
a = int(input("Enter the Number - "))
print("---------------------------------------------------------------")
for i in range(1,a+1):
  for j in range(1,i+1):
    print(i * j, end = ' ')
  print()

Enter the Number - 8
---------------------------------------------------------------
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

**----------------------------------------------------------------------------------------------------------------**